In [1]:
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [2]:
censusdata.printtable(censusdata.censustable('acs5', 2019, 'B09001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B09001_001E  | POPULATION UNDER 18 YEARS BY A | !! Estimate Total:                                       | int
B09001_002E  | POPULATION UNDER 18 YEARS BY A | !! !! Estimate Total: In households:                     | int
B09001_003E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: Under 3 years    | int
B09001_004E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 3 and 4 years    | int
B09001_005E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 5 years          | int
B09001_006E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 6 to 8 years     | int
B09001_007E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 9 to 11 years    | int
B09001_008E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 12 to 14 years   | int
B09001_009E  | POPULATION UNDER 18 YEARS BY A | !! !! !! Estimate Total: In households: 15 to 17 years   | int
B09001_010E  | POPULATION UNDER 18 YEARS BY A | !! !! Estimate Total: In group quarters                  | int
-------------------------------------------------------------------------------------------------------------------

In [3]:
censusdata.printtable(censusdata.censustable('acs5', 2019, 'B14003'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B14003_001E  | SEX BY SCHOOL ENROLLMENT BY TY | !! Estimate Total:                                       | int
B14003_002E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! Estimate Total: Male:                              | int
B14003_003E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Male: Enrolled in public school | int
B14003_004E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_005E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_006E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_007E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_008E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_009E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_010E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_011E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in public sch | int
B14003_012E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Male: Enrolled in private schoo | int
B14003_013E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_014E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_015E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_016E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_017E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_018E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_019E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_020E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Enrolled in private sc | int
B14003_021E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Male: Not enrolled in school:   | int
B14003_022E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_023E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_024E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_025E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_026E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_027E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_028E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_029E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Male: Not enrolled in school | int
B14003_030E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! Estimate Total: Female:                            | int
B14003_031E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Female: Enrolled in public scho | int
B14003_032E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_033E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_034E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_035E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_036E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_037E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_038E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_039E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in public s | int
B14003_040E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Female: Enrolled in private sch | int
B14003_041E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_042E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_043E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_044E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_045E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_046E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_047E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_048E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Enrolled in private  | int
B14003_049E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! Estimate Total: Female: Not enrolled in school: | int
B14003_050E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_051E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_052E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_053E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_054E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_055E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_056E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
B14003_057E  | SEX BY SCHOOL ENROLLMENT BY TY | !! !! !! !! Estimate Total: Female: Not enrolled in scho | int
-------------------------------------------------------------------------------------------------------------------

In [4]:
censusdata.printtable(censusdata.censustable('acs5', 2019, 'B19119'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19119_001E  | MEDIAN FAMILY INCOME IN THE PA | !! Estimate Total:                                       | int
B19119_002E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 2-person families                  | int
B19119_003E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 3-person families                  | int
B19119_004E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 4-person families                  | int
B19119_005E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 5-person families                  | int
B19119_006E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 6-person families                  | int
B19119_007E  | MEDIAN FAMILY INCOME IN THE PA | !! !! Estimate Total: 7-or-more-person families          | int
-------------------------------------------------------------------------------------------------------------------

In [6]:
# lets look at all states to find code for Florida.
censusdata.geographies(censusdata.censusgeo([('state', '*')]), 'acs5', 2019)

{'Alabama': censusgeo((('state', '01'),)),
 'Alaska': censusgeo((('state', '02'),)),
 'Arizona': censusgeo((('state', '04'),)),
 'Arkansas': censusgeo((('state', '05'),)),
 'California': censusgeo((('state', '06'),)),
 'Colorado': censusgeo((('state', '08'),)),
 'Delaware': censusgeo((('state', '10'),)),
 'District of Columbia': censusgeo((('state', '11'),)),
 'Connecticut': censusgeo((('state', '09'),)),
 'Florida': censusgeo((('state', '12'),)),
 'Georgia': censusgeo((('state', '13'),)),
 'Idaho': censusgeo((('state', '16'),)),
 'Hawaii': censusgeo((('state', '15'),)),
 'Illinois': censusgeo((('state', '17'),)),
 'Indiana': censusgeo((('state', '18'),)),
 'Iowa': censusgeo((('state', '19'),)),
 'Kansas': censusgeo((('state', '20'),)),
 'Kentucky': censusgeo((('state', '21'),)),
 'Louisiana': censusgeo((('state', '22'),)),
 'Maine': censusgeo((('state', '23'),)),
 'Maryland': censusgeo((('state', '24'),)),
 'Massachusetts': censusgeo((('state', '25'),)),
 'Michigan': censusgeo((('state', '26'),)),
 'Minnesota': censusgeo((('state', '27'),)),
 'Mississippi': censusgeo((('state', '28'),)),
 'Missouri': censusgeo((('state', '29'),)),
 'Montana': censusgeo((('state', '30'),)),
 'Nebraska': censusgeo((('state', '31'),)),
 'Nevada': censusgeo((('state', '32'),)),
 'New Hampshire': censusgeo((('state', '33'),)),
 'New Jersey': censusgeo((('state', '34'),)),
 'New Mexico': censusgeo((('state', '35'),)),
 'New York': censusgeo((('state', '36'),)),
 'North Carolina': censusgeo((('state', '37'),)),
 'North Dakota': censusgeo((('state', '38'),)),
 'Ohio': censusgeo((('state', '39'),)),
 'Oklahoma': censusgeo((('state', '40'),)),
 'Oregon': censusgeo((('state', '41'),)),
 'Pennsylvania': censusgeo((('state', '42'),)),
 'Rhode Island': censusgeo((('state', '44'),)),
 'South Carolina': censusgeo((('state', '45'),)),
 'South Dakota': censusgeo((('state', '46'),)),
 'Tennessee': censusgeo((('state', '47'),)),
 'Texas': censusgeo((('state', '48'),)),
 'Vermont': censusgeo((('state', '50'),)),
 'Utah': censusgeo((('state', '49'),)),
 'Virginia': censusgeo((('state', '51'),)),
 'Washington': censusgeo((('state', '53'),)),
 'West Virginia': censusgeo((('state', '54'),)),
 'Wisconsin': censusgeo((('state', '55'),)),
 'Wyoming': censusgeo((('state', '56'),)),
 'Puerto Rico': censusgeo((('state', '72'),))}

In [7]:
# lets look at all county
censusdata.geographies(censusdata.censusgeo([('state', '12'), ('county', '*')]), 'acs5', 2019)

{'Washington County, Florida': censusgeo((('state', '12'), ('county', '133'))),
 'Duval County, Florida': censusgeo((('state', '12'), ('county', '031'))),
 'Bradford County, Florida': censusgeo((('state', '12'), ('county', '007'))),
 'Brevard County, Florida': censusgeo((('state', '12'), ('county', '009'))),
 'Clay County, Florida': censusgeo((('state', '12'), ('county', '019'))),
 'Lafayette County, Florida': censusgeo((('state', '12'), ('county', '067'))),
 'Lake County, Florida': censusgeo((('state', '12'), ('county', '069'))),
 'Nassau County, Florida': censusgeo((('state', '12'), ('county', '089'))),
 'Pinellas County, Florida': censusgeo((('state', '12'), ('county', '103'))),
 'Polk County, Florida': censusgeo((('state', '12'), ('county', '105'))),
 'St. Lucie County, Florida': censusgeo((('state', '12'), ('county', '111'))),
 'Glades County, Florida': censusgeo((('state', '12'), ('county', '043'))),
 'Hendry County, Florida': censusgeo((('state', '12'), ('county', '051'))),
 'Indian River County, Florida': censusgeo((('state', '12'), ('county', '061'))),
 'Jackson County, Florida': censusgeo((('state', '12'), ('county', '063'))),
 'St. Johns County, Florida': censusgeo((('state', '12'), ('county', '109'))),
 'Seminole County, Florida': censusgeo((('state', '12'), ('county', '117'))),
 'Bay County, Florida': censusgeo((('state', '12'), ('county', '005'))),
 'Flagler County, Florida': censusgeo((('state', '12'), ('county', '035'))),
 'Gulf County, Florida': censusgeo((('state', '12'), ('county', '045'))),
 'Liberty County, Florida': censusgeo((('state', '12'), ('county', '077'))),
 'Osceola County, Florida': censusgeo((('state', '12'), ('county', '097'))),
 'Walton County, Florida': censusgeo((('state', '12'), ('county', '131'))),
 'Gadsden County, Florida': censusgeo((('state', '12'), ('county', '039'))),
 'Jefferson County, Florida': censusgeo((('state', '12'), ('county', '065'))),
 'Marion County, Florida': censusgeo((('state', '12'), ('county', '083'))),
 'Hardee County, Florida': censusgeo((('state', '12'), ('county', '049'))),
 'Okeechobee County, Florida': censusgeo((('state', '12'), ('county', '093'))),
 'Orange County, Florida': censusgeo((('state', '12'), ('county', '095'))),
 'Gilchrist County, Florida': censusgeo((('state', '12'), ('county', '041'))),
 'Suwannee County, Florida': censusgeo((('state', '12'), ('county', '121'))),
 'Alachua County, Florida': censusgeo((('state', '12'), ('county', '001'))),
 'Calhoun County, Florida': censusgeo((('state', '12'), ('county', '013'))),
 'Charlotte County, Florida': censusgeo((('state', '12'), ('county', '015'))),
 'Dixie County, Florida': censusgeo((('state', '12'), ('county', '029'))),
 'Martin County, Florida': censusgeo((('state', '12'), ('county', '085'))),
 'Sarasota County, Florida': censusgeo((('state', '12'), ('county', '115'))),
 'Manatee County, Florida': censusgeo((('state', '12'), ('county', '081'))),
 'Citrus County, Florida': censusgeo((('state', '12'), ('county', '017'))),
 'Baker County, Florida': censusgeo((('state', '12'), ('county', '003'))),
 'Santa Rosa County, Florida': censusgeo((('state', '12'), ('county', '113'))),
 'Leon County, Florida': censusgeo((('state', '12'), ('county', '073'))),
 'Broward County, Florida': censusgeo((('state', '12'), ('county', '011'))),
 'Monroe County, Florida': censusgeo((('state', '12'), ('county', '087'))),
 'Hernando County, Florida': censusgeo((('state', '12'), ('county', '053'))),
 'Hillsborough County, Florida': censusgeo((('state', '12'), ('county', '057'))),
 'Taylor County, Florida': censusgeo((('state', '12'), ('county', '123'))),
 'Wakulla County, Florida': censusgeo((('state', '12'), ('county', '129'))),
 'Palm Beach County, Florida': censusgeo((('state', '12'), ('county', '099'))),
 'Miami-Dade County, Florida': censusgeo((('state', '12'), ('county', '086'))),
 'Franklin County, Florida': censusgeo((('state', '12'), ('county', '037'))),
 'Hamilton County, Florida': censusgeo((('state', '12'), ('county', '047'))),
 'Sumter County, Florida': censusgeo((('state', '12'), ('county', '119'))),
 'Holmes County, Florida': censusgeo((('state', '12'), ('county', '059'))),
 'Lee County, Florida': censusgeo((('state', '12'), ('county', '071'))),
 'Collier County, Florida': censusgeo((('state', '12'), ('county', '021'))),
 'Pasco County, Florida': censusgeo((('state', '12'), ('county', '101'))),
 'Highlands County, Florida': censusgeo((('state', '12'), ('county', '055'))),
 'DeSoto County, Florida': censusgeo((('state', '12'), ('county', '027'))),
 'Columbia County, Florida': censusgeo((('state', '12'), ('county', '023'))),
 'Putnam County, Florida': censusgeo((('state', '12'), ('county', '107'))),
 'Union County, Florida': censusgeo((('state', '12'), ('county', '125'))),
 'Levy County, Florida': censusgeo((('state', '12'), ('county', '075'))),
 'Volusia County, Florida': censusgeo((('state', '12'), ('county', '127'))),
 'Madison County, Florida': censusgeo((('state', '12'), ('county', '079'))),
 'Escambia County, Florida': censusgeo((('state', '12'), ('county', '033'))),
 'Okaloosa County, Florida': censusgeo((('state', '12'), ('county', '091')))}

In [8]:
df = censusdata.download('acs5', 2019,
    censusdata.censusgeo([('state', '12'),
                            ('county', '*'),
                            ('tract', '*')]),
    ['B09001_004E', 'B14003_022E', 'B14003_050E',
     'B19119_004E', 'B14006_004E'])

In [9]:
display(df)

                                                    B09001_004E  B14003_022E  B14003_050E  B19119_004E  B14006_004E
Census Tract 2.11, Miami-Dade County, Florida: ...           53           33           20        65208           13
Census Tract 2.12, Miami-Dade County, Florida: ...          209           88           79        45375           32
Census Tract 2.13, Miami-Dade County, Florida: ...           94           17            0        46458           22
Census Tract 2.14, Miami-Dade County, Florida: ...          224          118            0        49598           63
Census Tract 1.28, Miami-Dade County, Florida: ...            0            0            0        91444            0
...                                                         ...          ...          ...          ...          ...
Census Tract 312, Clay County, Florida: Summary...          578          161          237       133990           49
Census Tract 308.01, Clay County, Florida: Summ...          105           20           67        63616            0
Census Tract 309.02, Clay County, Florida: Summ...           68            0           47        80375            0
Census Tract 303.01, Clay County, Florida: Summ...           46            0           28   -666666666            0
Census Tract 314, Clay County, Florida: Summary...           93           36           14        56964           21

[4245 rows x 5 columns]

In [10]:
data = df.reset_index()
with pd.option_context('display.max_colwidth', None):
     display(data)

                                                                                                      index  B09001_004E  B14003_022E  B14003_050E  B19119_004E  B14006_004E
0     Census Tract 2.11, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000211           53           33           20        65208           13
1     Census Tract 2.12, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000212          209           88           79        45375           32
2     Census Tract 2.13, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000213           94           17            0        46458           22
3     Census Tract 2.14, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000214          224          118            0        49598           63
4     Census Tract 1.28, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000128            0            0            0        91444            0
...                                                                                                     ...          ...          ...          ...          ...          ...
4240         Census Tract 312, Clay County, Florida: Summary level: 140, state:12> county:019> tract:031200          578          161          237       133990           49
4241      Census Tract 308.01, Clay County, Florida: Summary level: 140, state:12> county:019> tract:030801          105           20           67        63616            0
4242      Census Tract 309.02, Clay County, Florida: Summary level: 140, state:12> county:019> tract:030902           68            0           47        80375            0
4243      Census Tract 303.01, Clay County, Florida: Summary level: 140, state:12> county:019> tract:030301           46            0           28   -666666666            0
4244         Census Tract 314, Clay County, Florida: Summary level: 140, state:12> county:019> tract:031400           93           36           14        56964           21

[4245 rows x 6 columns]

In [11]:
print(data['index'][0])

Census Tract 2.11, Miami-Dade County, Florida: Summary level: 140, state:12> county:086> tract:000211

In [12]:
pd.option_context('display.max_colwidth', None)

data['index'] = data['index'].astype(str)
data['tract_county_state'] = data['index'].str.split(":").str[0]
data.head()

                                               index  B09001_004E  B14003_022E  B14003_050E  B19119_004E  B14006_004E                             tract_county_state
0  Census Tract 2.11, Miami-Dade County, Florida:...           53           33           20        65208           13  Census Tract 2.11, Miami-Dade County, Florida
1  Census Tract 2.12, Miami-Dade County, Florida:...          209           88           79        45375           32  Census Tract 2.12, Miami-Dade County, Florida
2  Census Tract 2.13, Miami-Dade County, Florida:...           94           17            0        46458           22  Census Tract 2.13, Miami-Dade County, Florida
3  Census Tract 2.14, Miami-Dade County, Florida:...          224          118            0        49598           63  Census Tract 2.14, Miami-Dade County, Florida
4  Census Tract 1.28, Miami-Dade County, Florida:...            0            0            0        91444            0  Census Tract 1.28, Miami-Dade County, Florida

In [13]:
data['temp'] = data['tract_county_state'].str.split(",")

In [14]:
print(data.dtypes)

index                 object
B09001_004E            int64
B14003_022E            int64
B14003_050E            int64
B19119_004E            int64
B14006_004E            int64
tract_county_state    object
temp                  object
dtype: object

In [15]:
data['tract'] = data['tract_county_state'].str.split(",").str[0].str.replace("Census Tract ", "")
data['county'] = data['tract_county_state'].str.split(",").str[1]
data['state'] = data['tract_county_state'].str.split(",").str[-1]
data = data.drop(['index', 'temp'],  axis=1)

In [16]:
display(data, 100)

      B09001_004E  B14003_022E  B14003_050E  B19119_004E  B14006_004E                             tract_county_state   tract              county     state
0              53           33           20        65208           13  Census Tract 2.11, Miami-Dade County, Florida    2.11   Miami-Dade County   Florida
1             209           88           79        45375           32  Census Tract 2.12, Miami-Dade County, Florida    2.12   Miami-Dade County   Florida
2              94           17            0        46458           22  Census Tract 2.13, Miami-Dade County, Florida    2.13   Miami-Dade County   Florida
3             224          118            0        49598           63  Census Tract 2.14, Miami-Dade County, Florida    2.14   Miami-Dade County   Florida
4               0            0            0        91444            0  Census Tract 1.28, Miami-Dade County, Florida    1.28   Miami-Dade County   Florida
...           ...          ...          ...          ...          ...                                            ...     ...                 ...       ...
4240          578          161          237       133990           49         Census Tract 312, Clay County, Florida     312         Clay County   Florida
4241          105           20           67        63616            0      Census Tract 308.01, Clay County, Florida  308.01         Clay County   Florida
4242           68            0           47        80375            0      Census Tract 309.02, Clay County, Florida  309.02         Clay County   Florida
4243           46            0           28   -666666666            0      Census Tract 303.01, Clay County, Florida  303.01         Clay County   Florida
4244           93           36           14        56964           21         Census Tract 314, Clay County, Florida     314         Clay County   Florida

[4245 rows x 9 columns]

100

In [17]:
# B14006_004E === Estimate!!Total!!Income in the past 12 months below the poverty level!!Enrolled in school!!Enrolled in nursery school, preschool
# POVERTY STATUS IN THE PAST 12 MONTHS BY SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE POPULATION 3 YEARS AND OVER

rename_vars = {
    "B09001_004E": 'population_3_4_year_old',
    "B14003_022E": 'male_not_enrolled',
    "B14003_050E": 'female_not_enrolled',
    "B19119_004E": 'median_income_4_person_family',
    "B14006_004E": 'below_poverty_not_enrolled'
}

In [18]:
# need to do this because rename returns dataframe
data = data.rename(mapper = rename_vars, axis = 1)

In [19]:
cols = list(data.columns.values)

In [20]:
final_df = data[['state', 'county', 'tract','population_3_4_year_old',
 'male_not_enrolled',
 'female_not_enrolled',
 'median_income_4_person_family',
 'below_poverty_not_enrolled']]

In [22]:
print(final_df.dtypes)

state                            object
county                           object
tract                            object
population_3_4_year_old           int64
male_not_enrolled                 int64
female_not_enrolled               int64
median_income_4_person_family     int64
below_poverty_not_enrolled        int64
dtype: object

In [23]:
display(final_df)

         state              county   tract  population_3_4_year_old  male_not_enrolled  female_not_enrolled  median_income_4_person_family  below_poverty_not_enrolled
0      Florida   Miami-Dade County    2.11                       53                 33                   20                          65208                          13
1      Florida   Miami-Dade County    2.12                      209                 88                   79                          45375                          32
2      Florida   Miami-Dade County    2.13                       94                 17                    0                          46458                          22
3      Florida   Miami-Dade County    2.14                      224                118                    0                          49598                          63
4      Florida   Miami-Dade County    1.28                        0                  0                    0                          91444                           0
...        ...                 ...     ...                      ...                ...                  ...                            ...                         ...
4240   Florida         Clay County     312                      578                161                  237                         133990                          49
4241   Florida         Clay County  308.01                      105                 20                   67                          63616                           0
4242   Florida         Clay County  309.02                       68                  0                   47                          80375                           0
4243   Florida         Clay County  303.01                       46                  0                   28                     -666666666                           0
4244   Florida         Clay County     314                       93                 36                   14                          56964                          21

[4245 rows x 8 columns]

### Create a table using below:
```
CREATE table IF NOT EXISTS enrollment (
	state VARCHAR ( 50 ) NOT NULL,
	county VARCHAR ( 50 ) NOT NULL,
	tract VARCHAR (50) NOT null,
	population_3_4_year_old int8 NULL ,
	male_not_enrolled int8 NULL,
	female_not_enrolled int8  NULL,
	median_income_4_person_family int8 NULL,
	below_poverty_not_enrolled int8 NULL
);
CREATE INDEX ix_enrollment_index ON public.enrollment USING btree (county);
```

### Insert Data into postgres
##### we can use `to_sql` to create the table as if we don't want to create it beforehand.

In [24]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@database-1.cxameqvawqtt.us-east-1.rds.amazonaws.com:5432/census')
final_df.to_sql(name='enrollment', con=engine, if_exists='append', index=False)

245

### Future Ref: setting  up pycopg2 in MAC
#### Getting pycopg2 working on mac is a pain. 

```Dowloaded latest Postgres.app from here : https://postgresapp.com/downloads.html```
        
#### update PATH variable
```export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/<version>/bin```

#### Run install again
pip3 install psycopg2

### few null checks in final_df

In [25]:
final_df[final_df['median_income_4_person_family'].isna()]

Empty DataFrame
Columns: [state, county, tract, population_3_4_year_old, male_not_enrolled, female_not_enrolled, median_income_4_person_family, below_poverty_not_enrolled]
Index: []

In [26]:
final_df[final_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [state, county, tract, population_3_4_year_old, male_not_enrolled, female_not_enrolled, median_income_4_person_family, below_poverty_not_enrolled]
Index: []

In [27]:
final_df.to_csv("./enrollment.csv", index = False)

## Additional Questions:


**A) Provide us with credentials for accessing the database **


**a. If possible, create an admin-level user account that the hiring team can use to**
access the database you’ve created
    
    Provided sperately in email.

**b. Share your ETL code for piping the Census data into your database**
    
    This sheet is the code.

**c. Share basic code for querying the database that will enable us to get some basic
descriptive stats on the data. For example (but not limited to): What are the census tracts in Florida with the highest # of 3-4 year olds who are not enrolled in school, and what is their median family income?**



TOP 10 tracts with kids not enrolled. Top 10 by absolute number of kids not enrolled.

```
select tract, county, population_3_4_year_old, (male_not_enrolled + female_not_enrolled) as kids_not_enrolled  from enrollment order by kids_not_enrolled desc limit 10;

```


TOP 10 tracts with highest percent of 3-4 year popluation not enrolled, where population is greather than 400 to filter out very small tract.

```
select tract, county, population_3_4_year_old, male_not_enrolled, female_not_enrolled, (male_not_enrolled + female_not_enrolled)*100/population_3_4_year_old as percent_kids_not_enrolled from enrollment where population_3_4_year_old >= 400 order by percent_kids_not_enrolled desc limit 10;

```



Top 10 Counties with most number of tract witih median_income_4_person_family less than 50K. 

```
select county, count(*) from 
 (select tract, county, median_income_4_person_family  from enrollment e  where  median_income_4_person_family  > 0  and median_income_4_person_family <= 50000 ) as temptable
 group by county order by 2 desc limit 10 ;
```

Top 10 Counties and number of tracts that have more than 100 kids not enrolled.
```
select county, count(*) as total_tract from 
 (select tract, county, (male_not_enrolled + female_not_enrolled) as kids_not_enrolled from enrollment e  where  male_not_enrolled + female_not_enrolled  >= 100 ) as temptable
 group by county order by 2 desc limit 10 ;
 
 ```



**B) What considerations went into your database build (eg, why did you choose the data model, database type and instance settings?). Articulate any assumptions you made in determining those choices.**

#### Data Model

Data model chosen for its simplicity and lack of knowledge about what other data we would want to keep in future.


Provided more time : I would choose to create a  primary key for combination of `state`, `county` and `tract` and create an ID for that combination. Create a table with these 4 fields that identify unique combination of `state`, `county` and `tract`.  Example : 
```CREATE TABLE state_country_tract (
    sct_id serial UNIQUE,
    state TEXT,
    country TEXT,
    tract TEXT,
    PRIMARY KEY(state, country, tract)
)
```

Then all future conesus variable or combination of such variables that becomes a table doesn't need to store `state`, `county` and `tract` in tables. They just store the sct_id  and can reference pull `state`, `county` and `tract` from `state_country_tract` table with a join.


#### database type and instance settings

**Database type**:
I chose a postgres RDS, its free and widely used. Doesn't tie us to a cloud provider. Not as scalable as Arora, but my assumption is current data size is not very large. I didn't consider a noSQL data store because of usiblity and learning curve associated with it for other users.

**Instance setting**:
Currently chose `t3.micro` as it's free. In prod scenario would start with a medium, and scale up when it becomes necessary (assuming inplace vertical scaling is very easy). In prod scenario would turn on backup and snapshot, specify maintainace windows, utilize monitoring. Current RDS does use KMS encryption


**C) What other steps would you have liked to take (with more time, information, and funds)? What other information would you have liked to have?**

**Time**

With more time, I would like to add checks in my ETL code around data quality before doing inserts. Currently i scanned the output data after writting it to a CSV. With more time, if this pipleine were to run with other census variable I would develope a set of common checks that can be run on any variable deplending of data type. Example : check for nulls. Check types are conforming, check for outliers. Check for negative numbers.

**Information**

With more information, I can choose a better index and better combination of keys for data modeling. For example if seraches are done at state level or country or tract level. This can guide out database model.

**funds**

With more funds. I would use one RDS as staging database. We send raw data to staging RDS from ETL pipeline. Then Curate it to make it prod ready and send to actual prod RDS. Develop program to keep start, backup and shut down staging RDS when not in use to keep cost down.

**Consideration**

In future consider if a coloumn based database makes more sense based on users usage pattern.